@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;1,100&family=Teko:wght@300;400;500;600;700&display=swap');
/* font-family: 'Teko', sans-serif; */
*{
  padding: 0;
  margin: 0;  
  box-sizing: border-box;
  /* font-family: 'Poppins', sans-serif; */
}
.teko{
font-family: 'Teko', sans-serif;
font-weight: 700;
/* font-size: 3rem; */
background: linear-gradient(to right, #011e48, #02347f,
#0453ca, #0066ff);
background-clip: text;
-webkit-text-fill-color: transparent;
}
.dark-color{
  background-color: #2811f9;
}
.col-r{
  color: #0453ca;
}